Repository juanvallejo97/Sierra-Painting-v1: changes, and which lint-staged commands are due for each by the changed paths.
All: npm --prefix functions run lint:fix, npm --prefix functions run build, dart format, flutter analyze, prettier --write

.lintstagedrc:

{
  "functions/**/*.{ts,js}": [
    "npm --prefix functions run lint:fix",
    "npm --prefix functions run build"
  ],
  "lib/**/*.dart": [
    "dart format",
    "flutter analyze"
  ],
  "test/**/*.dart": [
    "dart format"
  ],
  "*.{json,md,yaml,yml}": [
    "prettier --write"
  ]
}

fix: break provider deadlock with synchronous companyId/userId providers
  lib/core/auth/user_role.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
Due: dart format, flutter analyze

feat: add long-load UI feedback with refresh action
  lib/features/admin/presentation/admin_review_screen.dart
Due: dart format, flutter analyze

debug: add admin plumbing probe for wiring verification
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
Due: dart format, flutter analyze

fix: rename providers to avoid conflict with company_claims.dart
  android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  lib/core/auth/user_role.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
Due: dart format, flutter analyze

fix: increase Firestore query timeout and add result limit
  .claude/settings.local.json
  lib/features/admin/data/admin_time_entry_repository.dart
Due: dart format, flutter analyze, prettier --write

fix: deploy indexes to correct (default) database
  firebase.json
Due: prettier --write

debug: temporarily show ALL statuses (not just pending) for testing
  .claude/settings.local.json
  lib/features/admin/data/admin_time_entry_repository.dart
Due: dart format, flutter analyze, prettier --write

admin: align query with new index; enforce hard timeout with Future.any
  ADMIN_DASHBOARD_FINAL_ESCALATION.md
  firestore.indexes.json
  lib/features/admin/data/admin_time_entry_repository.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/admin/presentation/providers/admin_review_providers.dart
Due: dart format, flutter analyze, prettier --write

admin: add ENV switch to fall back to status-filtered query in emergencies
  lib/features/admin/data/admin_time_entry_repository.dart
Due: dart format, flutter analyze

debug: add single-doc read probe to distinguish rules vs. index issues
  lib/features/admin/data/admin_time_entry_repository.dart
Due: dart format, flutter analyze

debug: enable Firestore web logging in debug builds
  lib/main.dart
Due: dart format, flutter analyze

docs: add comprehensive production deployment summary for admin dashboard fix
  ADMIN_DASHBOARD_FIX_SUMMARY.md
Due: prettier --write

admin: force ID-token refresh if claims missing; already have no .future waits and hard timeouts
  lib/core/auth/user_role.dart
Due: dart format, flutter analyze

docs: add comprehensive staging verification checklist
  STAGING_VERIFICATION_CHECKLIST.md
Due: prettier --write

Admin/final debug harden (#167)
  STAGING_VERIFICATION_CHECKLIST.md
  lib/core/auth/user_role.dart
Due: dart format, flutter analyze, prettier --write

admin(nav): add /admin/home and explicit /admin/review routes
  lib/features/admin/presentation/admin_home_screen.dart
  lib/router.dart
Due: dart format, flutter analyze

analytics(admin): track navigation and token refresh events
  .claude/settings.local.json
  .flutter-plugins-dependencies
  android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  lib/core/auth/user_role.dart
  lib/features/admin/data/admin_time_entry_repository.dart
  lib/features/admin/presentation/admin_home_screen.dart
  lib/features/admin/presentation/admin_review_screen.dart
Due: dart format, flutter analyze, prettier --write

test(admin): add smoke tests for admin screens
  test/features/admin/presentation/admin_home_screen_test.dart
  test/features/admin/presentation/admin_review_screen_test.dart
Due: dart format

refactor: complete Master Debug Blueprint patch (14/15 tasks)
  MANUAL_SMOKE_TEST_GUIDE.md
  PATCH_IMPLEMENTATION_COMPLETE.md
  integration_test/e2e_demo_test.dart
  integration_test/offline_queue_test.dart
  integration_test/timeclock_geofence_test.dart
  lib/core/auth/user_role.dart
  lib/core/logging/release_logger.dart
  lib/core/providers/firestore_provider.dart
  lib/core/services/error_tracker.dart
  lib/features/admin/data/admin_time_entry_repository.dart
  lib/features/admin/presentation/admin_home_screen.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
  lib/features/timeclock/presentation/worker_dashboard_screen_v2.dart
  pubspec.lock
  pubspec.yaml
  test/features/admin/presentation/admin_review_screen_test.dart
Due: dart format, flutter analyze, prettier --write

fix(ci): mark coverage gate as non-blocking for v1-rc.1
  .github/workflows/tests.yml
Due: prettier --write

fix(ci): mark npm-audit as non-blocking for v1-rc.1
  .github/workflows/security-scan.yml
Due: prettier --write

feat(web): add favicon.ico and proper icon links
  web/favicon.ico
  web/index.html
  web/manifest.json
Due: prettier --write

refactor(timeclock): remove dead code from worker_dashboard_screen_v2
  lib/features/timeclock/presentation/worker_dashboard_screen_v2.dart
Due: dart format, flutter analyze

refactor(admin): remove dead code from time_entry_card
  lib/features/admin/presentation/widgets/time_entry_card.dart
Due: dart format, flutter analyze

ci(tests): add HTML coverage report generation
  .github/workflows/tests.yml
Due: prettier --write

fix(functions): sync package-lock.json with package.json
  functions/package-lock.json
Due: prettier --write

feat(ui): ship-today UI overhaul - fix logout, routes, guards & A11y
  NAV_QA_CHECKLIST.md
  UI_ROUTER_CHANGELOG.md
  lib/core/providers.dart
  lib/core/widgets/admin_scaffold.dart
  lib/features/admin/presentation/admin_home_screen.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/estimates/presentation/estimates_screen.dart
  lib/features/invoices/presentation/invoices_screen.dart
  lib/features/invoices/presentation/providers/invoice_list_provider.dart
  lib/features/jobs/presentation/jobs_screen.dart
  lib/features/settings/settings_screen.dart
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
  lib/router.dart
  test/app/router_smoke_test.dart
  test/router_smoke_test.dart
Due: dart format, flutter analyze, prettier --write

chore: update Claude settings
  .claude/settings.local.json
Due: prettier --write

feat(ux): complete UX Part 2 - invoices, employees, assignments & worker schedule
  .claude/settings.local.json
  .flutter-plugins-dependencies
  DEMO_GUIDE.md
  IMPLEMENTATION_COMPLETE.md
  UX_PART2_IMPLEMENTATION_SUMMARY.md
  ios/Flutter/flutter_export_environment.sh
  lib/core/services/logger_service.dart
  lib/core/widgets/admin_scaffold.dart
  lib/core/widgets/logout_dialog.dart
  lib/core/widgets/worker_scaffold.dart
  lib/features/employees/data/employee_repository.dart
  lib/features/employees/domain/employee.dart
  lib/features/employees/presentation/employee_new_screen.dart
  lib/features/employees/presentation/employees_list_screen.dart
  lib/features/employees/presentation/providers/employee_list_provider.dart
  lib/features/invoices/data/invoice_repository.dart
  lib/features/invoices/domain/invoice.dart
  lib/features/invoices/presentation/invoice_create_screen.dart
  lib/features/invoices/presentation/invoice_detail_screen.dart
  lib/features/invoices/presentation/invoices_screen.dart
  lib/features/invoices/presentation/providers/invoice_form_provider.dart
  lib/features/invoices/presentation/widgets/invoice_list_item.dart
  lib/features/jobs/presentation/job_assign_screen.dart
  lib/features/jobs/presentation/providers/jobs_providers.dart
  lib/features/schedule/presentation/worker_schedule_screen.dart
  lib/features/timeclock/presentation/widgets/gps_status_dialog.dart
  lib/features/timeclock/presentation/worker_dashboard_screen.dart
  lib/router.dart
  test/features/invoices/data/invoice_repository_test.dart
  test/features/invoices/domain/invoice_test.dart
Due: dart format, flutter analyze, prettier --write

chore: add Firestore indexes for employees, assignments, and invoices collections
  firestore.indexes.json
Due: prettier --write

docs: add final checks summary report
  FINAL_CHECKS_SUMMARY.md
Due: prettier --write

chore: save WIP changes before PR
  .claude/settings.local.json
  DEBUG_BLUEPRINT_FINAL_REPORT.md
  EXTRA_AUDIT.md
  LOGIC_AUDIT.md
  PRODUCTION_READY_REPORT.md
  PROGRESS_SUMMARY.md
  extra_issues.json
  final_checks.json
  firestore.rules
  functions/eslint.config.cjs
  functions/package-lock.json
  lib/app/router_facade.dart
  lib/core/app_check_boot.dart
  lib/core/money/money.dart
  lib/core/services/logger_service.dart
  lib/core/widgets/admin_scaffold.dart
  lib/core/widgets/worker_scaffold.dart
  lib/features/admin/presentation/admin_review_screen.dart
  lib/features/auth/presentation/login_screen.dart
  lib/features/employees/presentation/employee_new_screen.dart
  lib/features/employees/presentation/employees_list_screen.dart
  lib/features/estimates/presentation/estimates_screen.dart
  lib/features/invoices/presentation/invoice_create_screen.dart
  lib/features/invoices/presentation/invoices_screen.dart
  lib/features/jobs/presentation/jobs_screen.dart
  lib/features/jobs/presentation/widgets/assignment_picker_dialog.dart
  lib/features/timeclock/presentation/providers/timeclock_providers.dart
  lib/main.dart
  lib/router.dart
  logic_issues.json
  pubspec.lock
  pubspec.yaml
  test/a11y/iconbutton_tooltip_test.dart
  test/core/money/money_test.dart
  tools/headers_check.sh
  web/index.html
Due: dart format, flutter analyze, prettier --write

security: remove exposed API keys and add .gitignore protections
  .gitignore
  perf_reports/lighthouse-20251012-213413.report.html
  perf_reports/lighthouse-20251012-213413.report.json
  perf_reports/lighthouse-20251013-083324.report.html
  perf_reports/lighthouse-20251013-083324.report.json
  scripts/tokens.html
Due: prettier --write

docs: add security incident checklist and remediation guide
  SECURITY_INCIDENT_CHECKLIST.md
Due: prettier --write

chore: add git rm and checkout permissions to Claude settings
  .claude/settings.local.json
Due: prettier --write

chore: add gh auth and pr create permissions
  .claude/settings.local.json
Due: prettier --write

feat(database): implement enterprise-grade database hardening with monitoring
  DATABASE-HARDENING-SUMMARY.md
  README-DATABASE-HARDENING.md
  docs/runbooks/database-hardening-deployment.md
  docs/runbooks/performance-benchmarks.md
  docs/runbooks/rollback-procedure.md
  firestore.indexes.json
  functions/src/index.ts
  functions/src/monitoring/query-monitor.ts
  functions/src/monitoring/security-audit.ts
  functions/src/timeclock/onTimeEntryCreate.ts
  lib/features/invoices/data/invoice_repository.dart
  package.json
  scripts/backfill/backfill-companyId.ts
  scripts/backfill/rollback-migration.ts
  scripts/backfill/verify-companyId.ts
  test/features/invoices/data/invoice_repository_test.dart
  test/features/invoices/domain/invoice_test.dart
  test/invoices/invoice_undo_test.dart
  tests/fixtures/seed-multi-tenant.ts
  tests/perf/query-benchmarks.test.ts
  tests/rules/array-security.test.ts
  tests/rules/field-immutability.test.ts
  tests/rules/helpers/test-auth.ts
  tests/rules/helpers/test-data.ts
  tests/rules/rbac-matrix.test.ts
  tests/rules/security-isolation.test.ts
Due: npm --prefix functions run lint:fix, npm --prefix functions run build, dart format, flutter analyze, prettier --write

fix(admin): restore all user interactions and functionality
  .claude/settings.local.json
  HAIKU_TODO_GUIDE.md
  README.md
  android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  assets/branding/dsierra_logo.jpg
  assets/branding/dsierra_logo_alt.jpg
  functions/src/auth/setUserRole.ts
  functions/src/billing/generate_invoice.ts
  functions/src/middleware/encryption.ts
  functions/src/timeclock.ts
  ios/Runner/GeneratedPluginRegistrant.m
  lib/core/app_version.dart
  lib/core/widgets/worker_scaffold.dart
  lib/design/theme.dart
  lib/design/tokens.dart
  lib/features/admin/presentation/admin_home_screen.dart
  lib/features/auth/presentation/login_screen.dart
  lib/features/invoices/presentation/invoice_create_screen.dart
  lib/features/jobs/presentation/job_location_picker.dart
  lib/features/marketing/presentation/landing_page.dart
  lib/features/schedule/presentation/worker_schedule_screen.dart
  lib/features/timeclock/domain/time_entry.dart
  lib/features/timeclock/presentation/timeclock_screen.dart
  lib/ui/widgets/version_indicator.dart
  pubspec.lock
  pubspec.yaml
Due: npm --prefix functions run lint:fix, npm --prefix functions run build, dart format, flutter analyze, prettier --write
